* {
    font-size: 18px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.calc-app {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 256px;
    text-align: center;
    background-color: #101116;
    border: 8px solid #101116;
    border-radius: 4px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
}

input {
    width: 250px;
    height: 60px;
    border: 0px;
    background-color: #10111600;
    cursor: pointer;
    color: white;
    text-align: right;
    font-size: 1.4rem;
    font-weight: 700;
}

input:focus {
    outline: none;
}

#btn-clear {
    grid-row: 1;
    grid-column: 1/3;
}

#btn-result {
    grid-column: 3/5;
    grid-row: inherit;
}

button {
    border: none;
    margin: 8px;
    border-radius: 4px;
    color: white;
    background-color: #262834;
}

.highlight {
    background-color: #56cbdb;
}